body 
{
    
}
.top
{
    width:100%;
    height:80px;
    border:1px solid #ccc;
    }
.top .select
{
    width:7%;
    height:25px;
    text-align:center;
    border-radius:5px;
    margin-top:25px;
    margin-left:1%;
    }
.input
{
    width:7%;
    height:20px;
    text-align:center;
    border-radius:5px;
    margin-top:25px;
    margin-left:1%;
    border-width:1px;
    border:1px solid #666;
    text-align:left;
    }
.btn
{
    width:3%;
    height:22px;
    text-align:center;
    border-radius:5px;
    margin-top:25px;
    margin-left:0%;
    border:1px solid #666;
    }
.btn_right
{
    float:right;
    margin-right:1%;
    margin-top:25px;
    height:25px;
    width:8%;
    border-radius:5px;
    border-width:0;
    border:1px solid #666;
    }
.content
{
    width:100%;
    overflow:auto;
    border-top:1px solid #ccc;
    margin-top:10px;
    border-bottom:none;
    border-left:1px solid #ccc;
    border-right:1px solid #ccc;
    }
.table th{ text-align:center;background-color:#f5f5f5;border-bottom:1px solid #ccc;}
.table td { vertical-align:middle;}