* 
{
    margin:0;
    padding:0;
    font-family:Serif;
    list-style:none;
}
a
{
    text-decoration:none;
    }
.header
{
    width:100%;
    height:80px;
    background-color:#54a0ff;
    
    }
.header .logo
{
    width:60px;
    height:60px;
    border-radius:30px;
    background-color:Black;
    float:left;
    display:inline-block;
    line-height:80px;
    margin-top:10px;
    margin-left:1.5%; 
    }
.header .logo img
{
    width:60px;
    height:60px;
    border-radius:30px;
    }
.header .title
{
    width:30%;
    height:80px;
    float:left;
    }
.header .title a
{
    color:white;
    font-size:40px;
    line-height:80px;
    font-weight:800;
    float:left;
    display:inline-block;
    margin-left:1%;
    font-family:@Adobe 黑体 Std R;
    }
    
.header .changecolor_menu
{
    width:15%;
    height:79px;
    background-color:#f1f1f1;
    float:right;
    border:1px solid yellow;
    display:none;
    margin-right:1%;
    }
.header .changecolor_menu .now{width:100%;height:30px;line-height:30px;}
.header .changecolor_menu .now .now_back{width:19px;height:19px;background-color:#54a0ff;display:inline-block;margin-left:5px;border:1px solid white}
.header .changecolor_menu .select_color{width:50%;height:20px;display:inline-block;}
.select_color div{width:19px;height:19px;margin-left:5px;float:left;margin-top:5px;border:1px solid white;}
.select_color div:nth-child(1) {background-color:teal;}
.select_color div:nth-child(2) {background-color:tomato;}
.select_color div:nth-child(3) {background-color:#666;}
.select_color div:nth-child(4) {background-color:#54a0ff;}

.header .header_nav .a
{
    width:40px;
    height:40px;
    color:#f1f1f1;
    float:right;
    font-size:35px;
    line-height:80px;
    margin-right:2%;
    display:inline-block;
    }

.header_bottom
{
    width:100%;
    height:30px;
    background-color:#c4e1ff;
    top:80px;
    }
.header_bottom span{color:#666;font-size:22px;line-height:30px;margin-left:%;font-weight:800;}
.header_bottom .lb{color:#666;font-size:17px;line-height:30px;margin-left:%;font-weight:800;}

.left-nav
{
    width:15%;
    height:650px;
    background-color:#d2e9ff;
    float:left;
    top:110px;
    }
.left-nav .title
{
    line-height:40px;
    width:100%;
    height:40px;
    text-align:center;
    border-bottom:1px solid white;
    }
.left-nav .title span
{
    color:#666;
    font-size:20px;
    font-weight:800;
   
    }
.left-nav .menu
{
   
    text-align:center;
    width:100%;
   
  }
  .one div
  {
       padding:5px 0;
       border-bottom:1px solid white;
       font-weight:800;
       color:#666;
   }

.sub
{
    width:100%;
    background-color:white;
    display:none;
    overflow:hidden;
    padding:5px 0;
    }
.sub li
{
    padding:5px 0;
    }
.sub li a:hover
{
    color:Black;
    }
.admin
{
    background:#fff;
    padding:15px;
    overflow:auto;
    height:580px;
    }
.bread 
{
    background-color:#f1f1f1;
    width:85%;
    height:40px;
    float:right;
    border-bottom:1px solid #ccc;
    }
.bread li
{
    float:left;
    line-height:40px;
    margin-left:10px;
    }
.bread li a
{
    color:black;
    font-size:15px;
    }








